ES_USER=elastic
ES_PASS="bx-Ii2kfupwESSU_X*C3"
ES_HOST=https://localhost:9200
DB_NAME=sakarya-city-mem
ES_CRT_LOC=./http_ca.crt
ES_INDEX_NAME=pdf_document

AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=xyz
AWS_ENDPOINT='http://localhost:4566/'